.counter {
    display: flex;
    height: 85px;
    width: 370px;
    max-width: 100%;
}

.counter-subtract, .counter-middle, .counter-add {
    background-color: rgb(255, 255, 255);
}

.counter-subtract {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% 0% 0% 50%;
    height: 100%;
    width: 21%;
    max-width: 20vw;
    border: none;
    border-right: 2px solid #dddddd;
    box-shadow: 0px 0px 2px white;
    background-color: white;
}

.counter-subtract-icon-wrapper {
    background-color: #d82929;
    border-radius: 50%;
    padding: 5px 8px;
}

.counter-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58%;
    max-width: 50vw;
    box-shadow: 0px 0px 2px white;
    text-align: center;
    border: none;
    background-color: white;
}

.counter-middle:hover .counter-middle-txt {
    font-size: 2rem;
}

.counter-middle-txt {
    font-family : 'Bowlby One SC', cursive;
    font-size: 1.7rem;
    color: #202020;
    transition: font-size 1s;
}

.counter-middle-price {
    white-space: nowrap;
    text-align: center;
    font-family : 'Bowlby One SC', cursive;
    font-size: 1rem;
    color: #606060;
}

.counter-add {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0% 50% 50% 0%;
    width: 21%;
    max-width: 20vw;
    border-left: 2px solid #dddddd;
    box-shadow: 0px 0px 2px #dddddd;
    background-color: white;
}

.counter-add-icon-wrapper {
    background-color: #009E12;
    border-radius: 50%;
    padding: 5px 8px;
}

.counter-add-icon {
    font-size: 1.4rem;
}

.counter-subtract-icon {
    font-size: 1.4rem;
}

.counter-subtract:hover .counter-subtract-icon {
    font-size: 1.7rem;
}

.counter-add:hover .counter-add-icon {
    font-size: 1.7rem;
}